$base-color: #2C4CC9;
$secondary-color: #0B0E16;
$gray: #cacaca;
$GilroyBold: 'GiloryBold';
$GilroyMedium: 'GiloryMedium';
$GilroySemiBold: 'GilorySemiBold';
$GilroyRegular: 'GiloryRegular';
$GilroyThin: 'GiloryThin';


img {
  user-select: none;
}